@import "tailwindcss";

@font-face {
  font-family: "AndaleMono";
  src: url("/andalemono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #F5F5F5;
  --black: #0D0D0D;
  --light-gray: #E8E8E8;
  --dark-gray: #838383;
  --font-mono: "AndaleMono", monospace;
  --font-serif: "Times New Roman", Times, serif;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-serif);
  font-size: 12px;
  padding: 12px;
  box-sizing: border-box;
}
